* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h2, h1, p, ul{
    margin-top: 20px;
}

.container {
    margin-bottom: 40px;
}

/* Estilos generales para los elementos en bloque */
.box {
    background-color: #b3e5fc; /* Azul claro para padding */
    border-radius: 5px;
    width: 100%;
    max-width: 800px; /* Limita el ancho para que no exceda el contenedor */
}

/* Variantes de elementos en bloque */
.block-1 {
    margin: 10px;
    padding: 10px;
    border: 5px solid #81c784; /* Verde para el borde */
    background-color: #b3e5fc; /* Azul claro para padding */
    outline: 10px solid #f8bbd0; /* Rosa para el margen */
}

.block-2 {
    margin: 20px;
    padding: 20px;
    border: 10px solid #81c784; /* Verde para el borde */
    background-color: #b3e5fc;
    outline: 20px solid #f8bbd0; /* Rosa para el margen */
}

.block-3 {
    margin: 30px;
    padding: 30px;
    border: 15px solid #81c784; /* Verde para el borde */
    background-color: #b3e5fc;
    outline: 30px solid #f8bbd0; /* Rosa para el margen */
}

.block-4 {
    margin: 40px;
    padding: 40px;
    border: 20px solid #81c784; /* Verde para el borde */
    background-color: #b3e5fc;
    outline: 40px solid #f8bbd0; /* Rosa para el margen */
}

/* Estilos generales para los elementos en línea */
.inline-box {
    display: inline-block;
    background-color: #b3e5fc; /* Azul claro para padding */
    border-radius: 5px;
    padding: 10px;
    border: 5px solid #81c784; /* Verde para el borde */
    margin: 10px;
    outline: 10px solid #f8bbd0; /* Rosa para el margen */
}

/* Variantes de elementos en línea */
.inline-1 {
    margin: 10px;
    padding: 10px;
    border: 5px solid #81c784; /* Verde para el borde */
    outline: 10px solid #f8bbd0; /* Rosa para el margen */
}

.inline-2 {
    margin: 20px;
    padding: 20px;
    border: 10px solid #81c784; /* Verde para el borde */
    outline: 20px solid #f8bbd0; /* Rosa para el margen */
}

.inline-3 {
    margin: 30px;
    padding: 30px;
    border: 15px solid #81c784; /* Verde para el borde */
    outline: 30px solid #f8bbd0; /* Rosa para el margen */
}

.inline-4 {
    margin: 40px;
    padding: 40px;
    border: 20px solid #81c784; /* Verde para el borde */
    outline: 40px solid #f8bbd0; /* Rosa para el margen */
}
