* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.grid-container1 {
    display: grid;
    grid-template-areas: 
        "header main"
        "sidebar main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    width: 80%;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.grid-container2 {
    display: grid;
    grid-template-areas: 
        "header header main"
        "sidebar sidebar main"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 20px;
    width: 80%;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.grid-container3 {
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main sidebar"
        "main main sidebar"
        "footer footer footer";
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 20px;
    width: 80%;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}

.grid-container4 {
    display: grid;
    grid-template-areas: 
        "header header sidebar"
        "main main sidebar"
        "main main footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 80%;
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
}


.header {
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

.sidebar {
    grid-area: sidebar;
    background-color: #2196F3;
    color: white;
    padding: 20px;
    font-size: 1.2em;
}

.main {
    grid-area: main;
    background-color: #FF5722;
    color: white;
    padding: 20px;
    font-size: 1.2em;
}

.footer {
    grid-area: footer;
    background-color: #795548;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
}
